body {
  margin: 0;
  background-color: #8CE2FF;
  height: 100vh;
  overflow: hidden;
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 30px);
  grid-template-rows: repeat(auto-fill, 30px);
}

.square {
  width: 30px;
  height: 30px;
  background-color: #F25100;
  transition: transform 0.25s ease;
}

.square:hover {
  transform: rotate(45deg);
}
