@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

::selection {
  color: #8ce2ff;
  background-color: #F25100;
}

* {
  margin: 0;
  padding: 0;
  font-family: Pretendard, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
}

body {
  margin: 0;
  background-color: #000000;
  height: 100vh;
  overflow: hidden;
  display: flex; 
  justify-content: center; 
  align-items: center;
 }

.contents-wrap {
  width: 390px;
  padding: 0 24px;
  height: 100vh;
  background-color: #8ce2ff;
  color: #F25100;
  overflow-x: hidden;
  overflow-y: scroll;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.025em;
  line-height: 1.5;
  word-break: keep-all;
}

/* 스크롤바 스타일링 */
.contents-wrap::-webkit-scrollbar {
  width: 6px; /* 스크롤바의 두께 */
}

.contents-wrap::-webkit-scrollbar-track {
  background: #8ce2ff; /* 트랙(스크롤바 배경) 색상 */
  border-radius: 10px; /* 둥근 모서리 */
}

.contents-wrap::-webkit-scrollbar-thumb {
  background-color: #F25100; /* 스크롤 막대 색상 */
  border-radius: 10px; /* 둥근 모서리 */
  border: 2px solid #f0f0f0; /* 스크롤 막대와 트랙 사이의 간격 */
}

h1 {
  font-weight: 700;
  font-size: 22px;
}

.subTitle {
  font-weight: 700;
  position: relative;
  padding-left: 26px;
}

.subTitle::before{
  content: '';
  display: inline-block;
  position: absolute;
  left: 3px;
  top: 50%; 
  transform: translateY(-50%) rotate(45deg);
  width: 12px;
  height: 12px;
  background-color: #8ce2ff;
  border: 1px solid #F25100;
}
